.round-border.p-dropdown {
    border-radius: 20px;
}
.no-border.p-dropdown {
    border: none;
    .p-dropdown-trigger {
        padding-left: 8px;
        padding-right: 8px;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    }
    .p-dropdown-clear-icon {
        right: 8px;
    }
}
.no-padding.p-dropdown .p-dropdown-label {
    padding: 0;
}
.accent.p-dropdown {
    .p-dropdown-label {
        color: $primary-color;
    }
    .p-dropdown-trigger-icon {
        color: $primary-color;
    }
}
.gray.p-dropdown {
    background-color: $primary-bg-color;
}
.p-dropdown {
    border-color: $primary-border-color;
}
.p-dropdown.highlight {
    border-color: $primary-color;
}
.p-dropdown .p-dropdown-trigger {
    width: unset;
    padding-left: 16px;
    padding-right: 16px;
}
.p-dropdown-panel {
    border: none;
    padding: 4px;
    margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.08);

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: '';
        border-width: 0 0.5rem 0.5rem 0.5rem;
        border-color: transparent;
        border-style: solid;
        top: -9px;
        left: 50%;
        transform: translateX(-50%);
    }

    &::before {
        border-bottom-color: rgba(0, 0, 0, 0.25);
    }

    &::after {
        border-bottom-color: #fff;
    }
}
.sewn-form-field .p-dropdown-panel {
    margin-top: 0;
    max-width: 100%;
    &::before,
    &::after {
        display: none;
    }
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: $muted-text-color;
    border-radius: 2px;
    padding: 0.75rem 1.5rem 0.75rem 0.75rem;
    font-weight: $fw-m;
    text-overflow: ellipsis;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: $general-text-color;
    background: $primary-bg-color;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: $general-text-color;
    background: $primary-bg-color;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: $primary-color;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: $primary-color;
}

.p-dropdown-trigger-icon {
    color: $button-icon-color;
    transition: color 0.2s, transform 0.2s;
}
.p-dropdown-open .p-dropdown-trigger-icon {
    color: $primary-color;
    transform: rotate(180deg);
}

.p-dropdown:not(.p-disabled):not(.accent):hover .p-dropdown-label.p-placeholder,
.p-dropdown:not(.p-disabled):not(.accent).p-focus .p-dropdown-label.p-placeholder {
    color: $general-text-color;
}

.p-dropdown .p-dropdown-clear-icon {
    color: $button-icon-color;
    right: 16px;
    opacity: 1;
    background: #fff;
    z-index: 10;
    transition: opacity 0s 0.3s;
}

.p-dropdown-open .p-dropdown-clear-icon {
    right: 16px;
    opacity: 0;
    transition: none;
}
.p-dropdown.p-dropdown-clearable .p-dropdown-label,
.p-dropdown .p-inputtext {
    padding-right: 0;
}

.p-dropdown-trigger {
    opacity: 1;
    z-index: 9;
}
.p-dropdown:not(.p-dropdown-open) .p-dropdown-clear-icon + .p-dropdown-trigger {
    opacity: 0;
}

.p-dropdown .p-dropdown-filter {
    padding: 0.625rem !important;
}

.with-footer.p-dropdown .p-dropdown-items p-dropdownitem {
    .p-dropdown-item .footer-wrap {
        display: none;
    }
    &:last-child .p-dropdown-item {
        padding: 0;
        overflow: visible;
        &:hover {
            background: transparent;
            .dropdown-label {
                background: $primary-bg-color;
            }
        }
        .dropdown-label {
            display: block;
            padding: 0.75rem 2rem 0.75rem 0.75rem;
        }
        .footer-wrap {
            display: block;
            padding: 0.5rem 0.75rem;
            width: 100%;
        }
    }
}
