.theme_blue table thead tr,
.theme_blue .btn-primary,
.theme_blue .btn-primary:hover,
.theme_blue .pagination_area .ngx-pagination .current,
.theme_blue .app-header,
.theme_blue .app-sidebar,
.theme_blue .footer,
.theme_blue .slide-menu a.active,
.theme_blue .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item.active,
.theme_blue .slide-item:focus {
  background: #2dce89 !important;
}

.theme_blue .slide-menu a.active,
.theme_blue .side-menu__item.active,
.theme_blue .side-menu__item:hover,
.theme_blue .side-menu__item:focus,
.theme_blue .slide-item:hover,
.theme_blue .top-header .btn_black {
  background: #0fbf74 !important;
  border-color: #0fbf74 !important;
}

.theme_blue .breadcrumb-item a,
.theme_blue a:hover,
.theme_blue .pointer {
  color: #2dce89 !important;
}

.theme_blue .header-brand h2,
.theme_blue .footer a:not(.btn),
.theme_blue table thead tr th,
.theme_blue .btn-primary,
.theme_blue .btn-primary:hover,
.theme_blue .footer,
.theme_blue .side-menu__item,
.theme_blue .side-menu__item.active .side-menu__icon,
.theme_blue .side-menu__item:hover .side-menu__icon,
.theme_blue .side-menu__item:focus .side-menu__icon,
.theme_blue .side-menu .side-menu__icon,
.theme_blue .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item:hover,
.theme_blue .side-menu__item:hover .side-menu__label,
.theme_blue .side-menu__item:hover .side-menu__icon,
.theme_blue .side-menu__item:hover .angle,
.theme_blue .slide-item,
.theme_blue .slide-item:hover,
.theme_blue .icon i,
.theme_blue .side-menu__label,
.theme_blue .side-menu__item.active,
.theme_blue .sidebar-mini.sidenav-toggled .app-sidebar:hover,
.theme_blue .side-menu__item.active .side-menu__label,
.theme_blue .top-header span,
.theme_blue .fa-angle-down,
.theme_blue span.admin_text_span,
.theme_blue .top-header .fa-angle-down {
  color: #fff !important;
}

.theme_blue .btn-primary,
.theme_blue .btn-primary:hover {
  border-color: #2dce89 !important;
}

.theme_blue .nav-link.icon {
  border: 1px solid #fff;
}

.theme_green .app-header {
  border: 1px solid transparent !important;
}

.theme_blue .app-header,
.theme_blue .app-sidebar,
.theme_blue .app-sidebar__user,
.theme_blue .side-menu__item {
  border-bottom: 1px solid #0fbf74 !important;
}
