.theme_red table thead tr,
.theme_red .btn-primary,
.theme_red .btn-primary:hover,
.theme_red .pagination_area .ngx-pagination .current,
.theme_red .app-header,
.theme_red .app-sidebar,
.theme_red .footer,
.theme_red .slide-menu a.active,
.theme_red .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item.active,
.theme_red .slide-item:focus {
  background: #ccb3fd !important;
}

.theme_red .slide-menu a.active,
.theme_red .side-menu__item.active,
.theme_red .side-menu__item:hover,
.theme_red .side-menu__item:focus,
.theme_red .slide-item:hover,
.theme_red .top-header .btn_black {
  background: #bb9ff3 !important;
  border-color: #bb9ff3 !important;
}

.theme_red .breadcrumb-item a,
.theme_red a:hover,
.theme_red .pointer {
  color: #ccb3fd !important;
}

.theme_red .header-brand h2,
.theme_red .footer a:not(.btn),
.theme_red table thead tr th,
.theme_red .btn-primary,
.theme_red .btn-primary:hover,
.theme_red .footer,
.theme_red .side-menu__item,
.theme_red .side-menu__item.active .side-menu__icon,
.theme_red .side-menu__item:hover .side-menu__icon,
.theme_red .side-menu__item:focus .side-menu__icon,
.theme_red .side-menu .side-menu__icon,
.theme_red .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item:hover,
.theme_red .side-menu__item:hover .side-menu__label,
.theme_red .side-menu__item:hover .side-menu__icon,
.theme_red .side-menu__item:hover .angle,
.theme_red .slide-item,
.theme_red .slide-item:hover,
.theme_red .icon i,
.theme_red .side-menu__label,
.theme_red .side-menu__item.active,
.theme_red .sidebar-mini.sidenav-toggled .app-sidebar:hover,
.theme_red .side-menu__item.active .side-menu__label,
.theme_red .top-header span,
.theme_red .fa-angle-down,
.theme_red span.admin_text_span,
.theme_red .top-header .fa-angle-down {
  color: #fff !important;
}

.theme_red .btn-primary,
.theme_red .btn-primary:hover {
  border-color: #ccb3fd !important;
}

.theme_green .app-header {
  border: 1px solid transparent !important;
}

.theme_red .nav-link.icon {
  border: 1px solid #fff;
}

.theme_red .app-header,
.theme_red .app-sidebar,
.theme_red .app-sidebar__user,
.theme_red .side-menu__item {
  border-bottom: 1px solid #bb9ff3 !important;
}
