.theme_green table thead tr,
.theme_green .btn-primary,
.theme_green .btn-primary:hover,
.theme_green .pagination_area .ngx-pagination .current,
.theme_green .app-header,
.theme_green .app-sidebar,
.theme_green .footer,
.theme_green .slide-menu a.active,
.theme_green .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item.active,
.theme_green .slide-item:focus {
background: #8c958e !important;
}

.theme_green .slide-menu a.active,
.theme_green .side-menu__item.active,
.theme_green .side-menu__item:hover,
.theme_green .side-menu__item:focus,
.theme_green .slide-item:hover,
.theme_green .top-header .btn_black {
background: #afafaf !important;
border-color: #9e9595 !important;
}

.theme_green .breadcrumb-item a,
.theme_green a:hover,
.theme_green .pointer {
color: #9e9595 !important;
}

.theme_green .header-brand h2,
.theme_green .footer a:not(.btn),
.theme_green table thead tr th,
.theme_green .btn-primary,
.theme_green .btn-primary:hover,
.theme_green .footer,
.theme_green .side-menu__item,
.theme_green .side-menu__item.active .side-menu__icon,
.theme_green .side-menu__item:hover .side-menu__icon,
.theme_green .side-menu__item:focus .side-menu__icon,
.theme_green .side-menu .side-menu__icon,
.theme_green .sidebar-mini.sidenav-toggled .app-sidebar:hover .slide-item:hover,
.theme_green .side-menu__item:hover .side-menu__label,
.theme_green .side-menu__item:hover .side-menu__icon,
.theme_green .side-menu__item:hover .angle,
.theme_green .slide-item,
.theme_green .slide-item:hover,
.theme_green .icon i,
.theme_green .side-menu__label,
.theme_green .side-menu__item.active,
.theme_green .sidebar-mini.sidenav-toggled .app-sidebar:hover,
.theme_green .side-menu__item.active .side-menu__label,
.theme_green .top-header span,
.theme_green .fa-angle-down,
.theme_green span.admin_text_span,
.theme_green .top-header .fa-angle-down {
color: #fff !important;
}

.theme_green .btn-primary,
.theme_green .btn-primary:hover {
border-color: #66ffff !important;
}

.theme_green .nav-link.icon {
border: 1px solid #fff;
}

.theme_green .app-header {
border: 1px solid transparent !important;
}

.theme_green .app-header,
.theme_green .app-sidebar,
.theme_green .app-sidebar__user,
.theme_green .side-menu__item {
border-bottom: 1px solid #afafaf !important;
}