<div class="modal fade sure_modal" id="change_status_modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 deleteText">
            <h4>Are you sure to cancel a order?</h4>
          </div>
        </div>
        <div class="text-center" style="padding: 10px;">
          <button type="button" class="btn btn-danger" title="Yes" (click)="changeConfirm()"><i
              class="fa fa-check"></i>Confirm</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" title="No"><i class="fa fa-times"></i>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
