.dataTables_filter i {
  position: absolute;
  top: 6px;
  left: 20px;
  transform: rotate(80deg);
  color: #bf7777;
}

.dataTables_filter .form-control {
  padding-left: 30px;
}

.dataTables_length {
  display: flex;
  margin-bottom: 10px;
}

.dataTables_length .form-control {
  height: 25px !important;
  padding: 2px 10px;
  width: auto;
  margin: -2px 5px 0px 5px;
}

.pagination {
  float: right;
}

.pro_atr_card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  min-height: auto;
  max-height: 102px;
  overflow-y: auto;
}

.display_flex {
  display: flex;
}

.switch_in_table {
  display: flex;
}

.switch_in_table .material-switch {
  display: inline-block;
  margin-left: 15px;
  margin-top: 5px;
}

.form_modal_body {
  padding: 0px;
}

.modal_form_sec {
  padding: 15px;
}

.invalid-msg {
  color: red;
}

.sure_modal .modal-header {
  border: none;
  padding-bottom: 0px;
}

.sure_modal .modal-footer {
  border: none;
}

.sure_modal .modal-body {
  padding-top: 0px;
  text-align: center;
}

.pagination_area {
  text-align: right;
}

#snackbar_module {
  display: none;
  position: fixed;
  background: rgb(88 104 255);
  padding: 15px;
  left: 40%;
  right: auto;
  border-radius: 5px;
  text-transform: capitalize !important;
  z-index: 9999;
  bottom: 5%;
  top: auto;
  text-align: left;
  width: 20%;
}

#snackbar_module h2 {
  color: #FFFFFF;
  margin: 0;
  text-transform: capitalize !important;
  font-weight: 500;
  font-size: 1rem !important;
  text-align: center;
}


.login_sec .eye_adjust {
  position: absolute;
  top: 12px;
  right: 11px;
}

.changepasswordshow {
  position: relative;
}

.changepasswordshow .eye_adjust {
  position: absolute;
  top: 48px;
  right: 13px;
}

.required {
  color: red;
}

.ngx-select__toggle.btn {
  margin: 0px;
  text-transform: capitalize;
}

.fa-sort {
  cursor: pointer;
  float: right;
}

.dealer_theme .btn-primary:focus {
  box-shadow: none !important;
}

.ngx-select__placeholder {
  font-size: 15px;
}

.ngx-select__selected-single {
  font-size: 15px;
  color: #6b6f80;
}

.skeleton_image_input {
  margin-top: -75px;
  height: 75px;
  opacity: 0;
}

.skeleton_image_card {
  border: 1px dashed #a3a3b2;
  width: 100%;
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
  text-align: center;
  padding: 20px;
}

.skeleton_image_card p {
  margin: auto;
}

.publish_btn button {
  margin: 0px 0px 20px 0px;
  padding: 15px;
}

.quick_view_image {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.quick_view_image img {
  width: 71px;
  height: 71px;
  border-radius: 2px;
  margin: 1px;
  border: 1px solid #acacb4;
}

.quick_view_image .btn-danger {
  position: absolute;
  top: 4px;
  right: 0px;
  padding: 0px;
  display: none;
  transition: 0.5s;
}

.quick_view_image:hover.quick_view_image .btn-danger {
  display: block;
  transition: 0.5s;
}
.modal_footer_block{
  display: block;
}