@media (max-width: 767px){
    /* col mobile start */
    .col_xs_1{
        width: 8.33333333%;
    }
    .col_xs_2{
        width: 16.66666667%;
    }
    .col_xs_3{
        width: 25%;
    }
    .col_xs_4{
        width: 33.33333333%;
    }
    .col_xs_5{
        width: 41.66666667%;
    }
    .col_xs_6{
        width: 50%;
    }
    .col_xs_7{
        width: 58.33333333%;
    }
    .col_xs_8{
        width: 66.66666667%;
    }
    .col_xs_9{
        width: 75%;
    }
    .col_xs_10{
        width: 83.33333333%;
    }
    .col_xs_11{
        width: 91.66666667%;
    }
    .coll_xs_12{
        width: 100%;
    }
    /* col mobile end */
    .app.sidenav-toggled .app-sidebar{
        left: -255px;
    }
    .app .app-sidebar {
        left: 0px;
    }
    .navsearch{
        display: none;
    }
    .ledger_logo{
        display: none;
    }
    .header{
        background: #2d66f7;
    }
    .nav-link.icon{
        border: 1px solid #fff;
    }
    .icon i, span.admin_text_span, .nav-link .fa-angle-down {
        color: #fff;
    }
    h2.admin_text{
        color: #ddd;
        display: none;
    }
    .nav-link span{
        border: 2px solid #fff;
        background: #fff;
        border-radius: 50%;
    }
    .mobile_home {
        display: none;
    }
    .offset-3{
        margin-left: 0px;
    }
    .dataTables_filter{
        padding-bottom: 15px;
    }
    .form-label {
        padding-top: 15px;
    }
    .mobile_page_header{
        display: block;
    }
    .btn{
        margin-top: 15px;
      }
    .mobile_page_header button{
        margin-top: 0px;
    }
    .form_label_btn{
        display: none;
    }
    .page-header .btn{
        margin-top: 5px;
    }
    .app-header{
        padding: 5px 0px;
    }
    .form-group{
        margin-bottom: 0px;
    }
    .app-sidebar {
        margin-top: 60px;
    }
    #snackbar_module{
        left: 5% !important;
        width: 90% !important;
    }
    .login_logo{
        padding-top: 0px !important;
    }
    .login_form{
        width: 80% !important;
    }
    .form_label_btn_show{
        display: block;
        padding-top: 8px;
    }
    .wallet_back a{
        padding: 15px !important;
        margin: 15px !important;
    }
    .ngx-select__clear.btn{
        margin-top: 0px;
    }
    #reset_password .eye_adjust {
        margin-top: 37px !important;
    }
    .pt_goto_back {
        top: 0 !important;
        left: 15px !important;
    }
    .request_view_back{
        position: absolute;
        top: 41px;
        right: 0px;
    }
    .header-brand h2{
        display: none;
    }
    .nav-link span{
        border: none;
        background: transparent;
        color: #fff;
    }
    .page-header{
        margin-top: 0px;
    }

}

@media screen and (orientation:landscape)
and (max-device-width: 767px) {
    
    .login_sec .card-body{
        padding: 0px;
    }
    .login_logo{
        padding: 3% 0% !important;
    }
    .app .app-sidebar{
        overflow-y: scroll;
    }
}
